<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Authors</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <style>
    .container{
      border: 1px solid black;
    }
  </style>

</head>
<body>
  <div class="container"> 
    <h1>Create a new product</h1>
    <form (submit)="createProduct()">
      <ul>
        <li class="text-danger" *ngIf="message.exist">{{message.message}}</li>
      </ul>
      <label>Title:</label>
      <input 
        required 
        minlength="4" 
        maxlength="24" 
        #title="ngModel" 
        [(ngModel)] = "newProduct.title"
        class="form-control" 
        type="text" 
        name="title">
        <small *ngIf="title.touched && title.invalid" class="form-text text-muted">Title is required and must be 4-24 characters long!</small>
      <label>Price:</label>
      <input
        required
        #price = "ngModel"
        [(ngModel)] = "newProduct.price"
        class="form-control" 
        type="text" 
        name="price">
        <small *ngIf="price.touched && price.invalid" class="form-text text-muted">Price is required!</small>
      <label>Url:</label>
      <input 
        [(ngModel)] = "newProduct.url"
        class="form-control" 
        type="text" 
        name="url">
        <button type="submit" class="btn btn-sm btn-outline-secondary mt-3 mb-3">Submit</button>
    </form>
  </div> 
  
  <!-- *ngIf="price.valid && title.valid" -->
</body>